.header-bar {
  background-color: #649e64 !important;
  font-size: 20px;
  font-family: orbitron;
  text-transform: uppercase;
}

.services-dropdown {
  font-size: 18px;
  text-transform: capitalize;
}

.img-with-text {
  position: relative;
  img {
    opacity: 0.5;
  }
  .text {
    position: absolute;
    top: 150px;
    left: 20px;
    font-size: 46px;
  }
}

.image-left {
  padding: 40px;
  .text-section {
    padding-left: 40px;
  }
}

.text-left {
  padding: 40px;
  .text-section {
    padding-right: 40px;
  }
}

.heading {
  font-size: 24px;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.separator {
  width: 100px;
}

.service-list {
  display: flex;
  margin-top: 20px;
}

.carousel-indicators .active {
  background-color: green;
}

.carousel-indicators li {
  background-color: burlywood;
}
